ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    padding: 8px;
  }
  
  li.selected {
    background-color: #f0f0f0;
  }

  .custom-max-height-70 {
    min-height: 40rem; 
    max-height: 40rem;
  }

/* .poll-card:hover {
  background-color: #D3FF56
  ;
} */

.icon-edit:hover{
  color: pink
}

.button-custom p:hover {
  color: pink;
}

.play-button:hover {
  color:pink
}

.launch-poll {
  position: relative;
  display: inline-block;
}

.dropdown-info {
  display: none;
  position: absolute;
  /* z-index: 1; */
  color:black;
}

.dropdown-info p {
  font-size: 60%
}


.launch-poll:hover .dropdown-info{
  display: block;
}
