@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Questrial&display=swap');

body {
  font-family: 'Questrial', sans-serif;
}

code {
  font-family: 'Questrial', sans-serif;
}

body div{
  font-family: 'Questrial', sans-serif;
}

.logo-title{
  font-family:'Anton', sans-serif;
}

.carousel-content {
  /* background-color: red; */
  border: 3px solid #071FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  padding: 50px 50px;
  margin: 0px auto;
  /* font-family: sans-serif; */
  margin: 0 50px;
  color: #071FFF;
  height: 20rem;
}